.header-container {
    display: flex;
    justify-content: center;
    font-size: 35px;
}

.title {
    font-family: 'Annie Use Your Telescope', cursive;
    margin-top: 5px;
    margin-bottom: 0px;
}

.main-container {
    display: flex;
    justify-content: space-evenly;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    width: 500px;
    height: 500px;
    margin: 10px;
    border: saddlebrown solid 5px;
}

.bottom-container {
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
}

.box {
    border: solid black 1px;
}

button {
    width: 150px;
    height: 50px;
    font-size: 20px;
    background-color: #8a4413;
    border: none;
    color: white;
    border-radius: 50%;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Annie Use Your Telescope', cursive;
}

button:hover {
    background-color: rgb(175, 103, 56);
}

button:active {
    background-color: rgb(155, 138, 125);
}

img {
    max-height: 20%;
    max-width: 20%;
    object-fit: contain;
}